{% load static %}

<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock%}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="wight=device-wight, initial-scale=1">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>News site</header>
    <section>
        <article>
            {% block content %}
            {% endblock %}
        </article>
        <nav>
            <ul>
                <h2>Navigation bar</h2>
                <li>
                    <p>This is my news site.</p>
                </li>

                <a href="{% url 'news:article_list' %}">
                    Home
                </a>
            </ul>
        </nav>
    </section>
    <footer>
        Footer
    </footer>

</body>
</html>