body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: medium;
}
/* Style the header */
header {
    /* background: #181818; */
    background: #000000;
    padding: 30px;
    text-align: center;
    font-size: 45px;
    color: #49c5b6;
}
section {
    display: flex;
}
/* Style the articles */
article {
    flex: 2;
    background: #000000;
    padding: 30px;
}
/* Style the navigation menu #2779a7;*/
nav {
    flex: 1;
    background: #000000;
    padding: 30px;
    font-size: large;
}
nav ul {
    color: #49c5b6;
    padding: 30px;
}
img {
    width: 100%;
    height: auto;
}
/* Style the footer */
footer {
    background-color: #000000;
    padding: 35px;
    text-align: center;
    color: #49c5b6;
}
a:link,
a:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(47, 156, 171);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
a:hover,
a:active {
    background-color: rgb(47, 156, 171);
    color: white;
}